*{
    padding: 0;
    margin: 0;
}

#welcome-section{
    text-align: center;
    color: white;
    background-color: black;
    padding: 6em;
}

#projects a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5em;
    
}

#projects{
    padding: 2em;
    background-color: gray;
    text-decoration: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-tile{
    background-color: rgba(211, 211, 211, 0.562);
    margin: 0.5em;
    height: 100px;
    display: block;
    position: relative;
}

#projects h1{
    grid-column: 1/4;
    color: white;
    display: block;
    padding: 0.5em;
}

.project-title{
    padding: 0.25em;
}

.link{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

#navbar{
    text-align: right;
    /*display: block;*/
    position: fixed;
    top: 0px;
    height: 3em;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#navbar a{
    color: whitesmoke;
    display: inline-block;
    padding: 1em;
}

main{
    margin-top: 3em;
}

#useful-links{
    text-align: center;
    padding: 2em;
    background-color: rgb(8, 36, 36);
}

#useful-links a{
    text-decoration: none;
    color: white;
}

@media (max-width: 720px) {
    #projects{
        display: block    
    }
}